body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.subMain{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  height: 100vh;
}
.subMaindiv{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px;
  height: 100vh;
}
.subMain2{
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 100vh;
}
.menuItem {  
  width: 24vw;
}
.subDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
